 {% load static %}
 <!-- info section -->
 <section class="info_section long_section">

    <div class="container">
      <div class="contact_nav">
        <a href="tel:+998942742007">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span>
            +998942742007
          </span>
        </a>
        <a href="saidkodirov@internet.ru">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>
            tolibjondev@mail.ru
          </span>
        </a>
        <a href="https://maps.app.goo.gl/1jdHRwy9TfaehS756">
          <i class="fa-solid fa-location-dot"></i>
          <span>
            Joylashuv
          </span>
        </a>
      </div>

      <div class="info_top ">
        <div class="row ">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="info_links">
              <h4>
                Tezkor havlolalar
              </h4>
              <div class="info_links_menu">
                <a class="" href="#">Bosh sahifa <span class="sr-only">(current)</span></a>
                <a class="" href="#">Biz haqimizda </a>
                <a class="" href="#">Darsliklar</a>
                <a class="" href="#">Talabalar</a>
                <a class="" href="#">Aloq uchun</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
            <div class="info_post">
              <h5>
                QULAYLIKLAR
              </h5>
              <div class="post_box">
                <div class="img-box">
                  <img src="{% static "images/f1.png" %}" alt="">
                </div>
                <div class="img-box">
                  <img src="{% static "images/f2.png" %}" alt="">
                </div>
                <div class="img-box">
                  <img src="{% static "images/f3.png" %}" alt="">
                </div>
                <div class="img-box">
                  <img src="{% static "images/f4.png" %}" alt="">
                </div>
                <div class="img-box">
                  <img src="{% static "images/f5.png" %}" alt="">
                </div>
                <div class="img-box">
                  <img src="{% static "images/f6.png" %}" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info_form">
              <h4>
                Yangiliklardan xabardor bo'ling !
              </h4>
              <form action="">
                <input type="text" placeholder="Email manzilingizni kiriting" />
                <button type="submit">
                  A'zo bo'lish
                </button>
              </form>
              <div class="social_box">
                <a href="https://t.me/Saidkodirov">
                  <i class="fab fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://t.me/Saidkodirov">
                  <i class="fab fa-telegram" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/tolibjon/">
                  <i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/tolibjonsaidkodirov/">
                  <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info_section -->