{% load static %}
<!-- Navbar beginning -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url "home" %}">
        <img src="{% static "images/logo-removebg-preview.png" %}" alt="">
      </a>
      <button class="navbar-toggler bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/arxiv/arxiv_folders/public/files/' %} text-success {% endif %}" aria-current="page" href="{% url "arxiv:public_files" %}">Bosh sahifa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/arxiv/arxiv__folders/' %} text-success {% endif %}" href="{% url "arxiv:folders" %}">Arxivga kirish</a>
          </li>
        </ul>
        {% if request.user.is_authenticated %}
        
        <!-- Example single danger button -->
<div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        {% if request.user.photo %}
        <img src="{{ request.user.photo.url }}" alt="" style="width: 25px; height: 25px; border-radius:50%;">
        {% else %}
        {{ request.user.username|slice:12 }}
        {% endif %}
    </button>
    <ul class="dropdown-menu dropdown-menu-lg-end">
      <li><a class="dropdown-item" href="{% url "users:profile" %}">Profil</a></li>
      <li><a class="dropdown-item" href="#">Profilni tahrirlash</a></li>
      <li><a class="dropdown-item" href="#">Yuklanmalar</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url "users:logout" %}">Chiqish</a></li>
    </ul>
  </div>
        
        {% else %}
        <a href="{% url "users:login" %}" class="btn btn-success">
            Login 
            <i class="fa-regular fa-user" style="color: #63E6BE;"></i>
        </a>
        {% endif %}
      </div>
    </div>
  </nav>
  <!-- Navbar ending -->